

body{
    background: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}


.header{
    padding: 30px 40px 40px 40px;;
}

header .primary{
    color: hsl(179, 62%, 43%);
}


.header .text-md-size{
    color: hsl(71, 73%, 54%);
}
.header .text-sm-size{
    color: hsl(218, 22%, 67%);
    padding: 4px;
    margin: 0;
}

.bottoms{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bottom-subscription{
    background: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    padding: 30px 40px 50px 40px;
    border-bottom-left-radius: 10px;
}


.bottom-subscription .text-large-size{
    text-align: left;
    float: left;
    padding: 0;
    margin: 0;
}


.bottom-subscription h3 {
    text-align: left;
    color: hsla(203, 44%, 93%, 0.427);
}

.bottom-subscription .text-white{
    clear: both;
}

.sign-up-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#btn{
    background: hsl(71, 73%, 54%);
    color:  hsl(204, 43%, 93%);
    width: 75%;
    height: 50px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.bottom-why{
    background: hsl(180, 47%, 63%);
    color: hsl(204, 43%, 93%);
    border-bottom-right-radius: 10px;
   padding: 30px 40px 0 40px;;
}

.bottom-why p{
    padding: 1px;
    margin: 0;
    color: hsla(203, 44%, 93%, 0.68);
}



.attribution { 
    font-size: 11px; 
    text-align: center; }
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


